<h1>Account Kit test</h1> 

<div id="sms_login"> 
    <h2>Sms kit</h2> 
    <%= label_tag "Enter country code (e.g. +234):" %> <br /> 
        <%= text_field_tag 'country_code' %> <br /> 
    <%= label_tag "Enter phone number without spaces (e.g. 09099123xx):" %> <br /> 
        <%= text_field_tag 'phone_num' %> <br /> <br /> 
    <%= submit_tag "Login via SMS", id: "phone_btn" %> 
 </div>

<div id="email_login">
    <h2>Email kit</h2> 
    <%= label_tag "Enter email address:" %> <br /> 
    <%= email_field_tag :email %> <br /> <br />
    <%= submit_tag "Login via Email", id: "email_btn" %>
</div>